.span{
    margin-right: 50px;
}

.dark {
  background: dimgrey;
}

.dark-text {
  color: aliceblue;
}

.red {
  background: lightcoral;
}

.red-text {
  color: aqua;
}

.some {
  background: lightgreen;
}

.some-text {
  color: darkslateblue;
}

.darkturquoise {
  background-color: darkturquoise;
}
.darkturquoise-text {
  color: mediumslateblue;
}

.deepskyblue {
  background-color: deepskyblue;
}
.deepskyblue-text {
  color: aliceblue;
}

.hotpink {
  background-color: hotpink;
}
.hotpink-text {
  color: navy;
}
