.defaultBtn {
  border-style: none;
  margin: 1px;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
  border: 1px solid #000;
  font-weight: 700;
}
.defaultBtn:hover {
  background-color: #2d2d2d;
  color: snow;
  border: 1px solid red;
  border-radius: 5px;
}

.red {
  background-color: red;
}
